<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
    <title>About | Shilab web server</title>
{% endblock %}
{% block content %}
    <div>
        <h2>About</h2>
        <main>
            <section>
                <h3>Logo</h3>
                <div class="row">
                    <div class="col-sm-9">
                        <p>The logo represents our web service is focusing on epistasis analysis. The photo frame in outside
                    means focusing on something. The lines are relationship between fitness and no.
                    of mutations. If all mutations are additive, fitness will fall proportionally to mutation number
                    (black line). When deleterious mutations display negative (synergistic) epistasis, they are more
                    deleterious in combination than individually and so fitness falls with the number of mutations at an
                    increasing rate (upper, red line). When mutations display positive (antagonistic) epistasis, effects
                    of mutations are less severe in combination than individually and so fitness falls at a decreasing
                    rate (lower, blue line). </p>
                    </div>
                    <div class="col-sm-3" align="center" ho>
                        <img width="80%"  src="{{ url_for('static', filename='img/about/logo.png') }}">
                    </div>
                </div>

            </section>
            <section>
                <h3>Contributors</h3>
                <p>Development:</p>
                <ul>
                    <li> Junjie Chen, Ph.D.</li>
                    <li> Jia Wen, Ph.D.</li>
                </ul>
                <p>Principal Investigator:</p>
                <ul>
                    <li><a href="https://shilab.uncc.edu/people" target="_blank">Xinghua Mindy Shi, Ph.D.</a></li>
                </ul>
            </section>

            <section>
                <h3>Funding</h3>
                <ul>
                    <li> NIH</li>
                    <li> NSF</li>
                </ul>

            </section>
            <section>
                <h3>Citation</h3>
                <p>Please cite these papers if you use Epistatic Analysis Server:</p>
                <ul>
                    <li>Jia Wen, Junjie Chen, and Xinghua Shi. "Utilizing spike-and-slab Lasso models for epistasis
                        analysis", The American Society of Human Genetics (ASHG)’s 68th Annual Meeting, San Diego, CA,
                        October 16-20, 2017. (poster)
                    </li>

                    <li>Jia Wen, Andrew Quitadamo, Benika Hall, and Xinghua Shi. "Epistasis analysis of microRNAs on
                        pathological stages in colon cancer based on an Empirical Bayesian Elastic Net method." BMC
                        genomics 18, no. 7 (2017): 21.
                    </li>
                </ul>
            </section>
            <section>
                <h3>Contact</h3>
                <p>For any question about this service please email to <a href="mailto: x.shi@uncc.edu"> Xinghua Shi</a>
                    or
                    <a href="mailto: jchen67@uncc.edu"> Junjie Chen</a>.
                </p>
            </section>
        </main>

    </div>

{% endblock %}