<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>Shilab web server</title>
    {% endblock %}
    {% block metas %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        <script src="{{ url_for('static',filename='js/moment.js') }}"></script>
        <script>
            function autocollapse() {
                var navbar = $('.navbar-autocollapse');
                navbar.removeClass('collapsed');
                if (navbar.innerHeight() > 113) {
                    navbar.addClass('collapsed');
                    navbar.addClass('responsive');
                }
            }

            jQuery(document).on('ready', autocollapse);
            jQuery(window).on('resize', autocollapse);
        </script>
    {% endblock %}
    {% block styles %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/nav-custom.css') }}">
        <style>
            body {
                /* to make the container go al the way to
                           the bottom of the topbar*/
                padding-top: 90px;
            }

            .navbar-toggle .icon-bar {
                display: block;
                width: 25px;
                height: 3px;
                background-color: #cccccc;
                border-radius: 1px;
            }

            p {
                font-size: large;
            }
        </style>
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-autocollapse">
    <div class="container">
        <div class="nav navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <span>
                    <img style="max-height: 75px"
                         src="{{ url_for('static', filename='img/base/EpiML_logo_white.png') }}">
                </span>
            </a>
        </div>
        <div id="menu" class="navbar-right navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('webserver') }}">Server</a></li>

                <li><a href="{{ url_for('jobs') }}">Jobs</a></li>
                <!--<li><a href="{{ url_for('models') }}">Models</a></li>-->
                <!--<li><a href="{{ url_for('repository') }}">Repository</a></li> -->
                <li><a href="{{ url_for('help') }}">Help</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>

        </div>
    </div>
</nav>
<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <div style="height: 50px "></div>
</div>


<footer class="footer modal-footer" style="background-color: #155724">
    <div class="container" style="color:white; font-size: large" align="center">
        <div class="row">
            <div class="col-xs-4">
                <h3 style="color: #c0a16b">Affiliation</h3>
                <a href="https://shilab.uncc.edu/" target="_blank" style="color: white"> <u>Shi Lab</u></a> <br>
                <a href="https://cci.uncc.edu/" target="_blank" style="color: white"> <u>College of Computing and
                    Informatics</u> </a>
                <a href="https://www.uncc.edu/" target="_blank" style="color: white">
                    <img style="height: 70px" src="{{ url_for('static', filename='img/base/uncc_logo.png') }}"></a>
            </div>

            <div class="col-xs-4">
                <h3 style="color: #c0a16b">License</h3>
                <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
                    <img alt="Creative Commons License" style="border-width:0;"
                         src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png">
                </a>
                <p>All contents on this site are covered by the <a rel="license"
                                                                   href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
                                                                   target="_blank" style="color: white"> <u> Creative
                    Commons Attribution 4.0 International License </u> </a>.</p>


            </div>
            <div class="col-xs-4">
                <h3 style="color: #c0a16b">Acknowledgement</h3>
                <div class="col-sm-6" align="center">
                    <img width="80%" alt="Creative Commons License" style="border-width:0;"
                         src="{{ url_for('static', filename='img/base/NIH.png') }}">
                </div>
                <div class="col-sm-6" align="center">
                    <img width="80%" alt="Creative Commons License" style="border-width:0;"
                         src="{{ url_for('static', filename='img/base/NSF.png') }}">
                </div>

            </div>
        </div>
    </div>
</footer>
</body>
</html>