<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
    <title>Home | EpiML@ShiLab </title>
{% endblock %}
{% block content %}
    <div>
        <div style="background-color: whitesmoke;padding: 20px">
            <div class="row">
                <!--<div class="col-sm-6">pics</div>-->
                <div align="center">
                    <img width="30%" style="min-width: 300px"
                         src="{{ url_for('static', filename='img/home/EpiML_logo.png') }}">
                    <p style="font-size: xx-large;">An open machine learning web service for pairwise epistatic
                        analysis</p>
                    <p>EpiML can detect main effect and pairwise epistatic effect by using several machine learning and
                        statistical methods and provide many interactive visualizations to help analyze epistatic
                        relationship. Especially for genotype and microRNA case studies, external resources are
                        integrated for result analysis.
                    </p>
                </div>
            </div>

            <!--
            <p> Epistasis analysis is a foundation in the analysis of genetic networks. The concept of epistasis was
                introduced nearly 100 years ago and today underpins our interpretation of genetic pathways. If a
                mutation in one gene masks the effects of a mutation in a second gene, then the first gene is said to be
                epistatic to the second. The aim of epistasis analysis is to identify the group of genes controlling a
                particular cellular process or pathway and to establish an order‐of‐function map that reflects the
                sequence of events in a pathway controlled by several genes. </p>
                -->
            <!--
            <p> Epistasis analysis is a foundation in the analysis of genetic networks. The term “epistasis” is
                sometimes used to describe some form of statistical interaction between genetic factors and is
                alternatively sometimes used to describe instances in which the effect of a particular genetic variant
                is masked by a variant at another locus. Here, we define epistasis as the situations that the phenotype
                variance could be explained by the interactions or
                combinations of (epi-)genetic variants, instead of individual (epi-)genetic variants alone.
            </p>
            <p> This server provides pair-wise epistasis analysis. First, we identify the main effects using a model
                with only main effect on the phenotype. Second, a corrected phenotype is calculated by removing the
                significant main effect from the original phenotype. Third, we select features with epistatic effect on
                the corrected phenotype. Finally, we run the full model with main and epistatic effects on the
                previously selected main and epistatic features.</p>

            <p> By using this server, biologists and biomedical researchers can identify a set of main and epistatic
                effects based on their own data. To help analysis results, we provide many interactive visualization,
                with options to zoom in and out for diverse views of the data and results. Besides, many external
                resources are embedded to enhance convenience.</p>
                -->
        </div>
        <div style=" padding-bottom: 20px; ">
            <h2 align="center" style="padding: 20px">Easy to Use</h2>
            <div class="row">
                <div class="col-sm-3" align="center">
                    <img width="40%" src="{{ url_for('static',filename='img/home/upload.png') }}">
                    <p style="padding: 10px"><strong>Describe job and upload data.</strong> Prepare data in requirement
                        format.
                        All user's data will be kept private.
                    </p>
                </div>
                <div class="col-sm-3" align="center">
                    <img width="40%" src="{{ url_for('static',filename='img/home/submit.png') }}">
                    <p style="padding: 10px"><strong>Select a machine learning method.</strong>
                        Several popular machine learning and statistical methods are built-in.
                    </p>
                </div>
                <div class="col-sm-3" align="center">
                    <img width="40%" src="{{ url_for('static',filename='img/home/processing.png') }}">
                    <p style="padding: 10px"><strong>Automatically process in background. </strong> You don't need to
                        care about the details. Our server will handle all the processing in background.
                    </p>
                </div>
                <div class="col-sm-3" align="center">
                    <img width="40%" src="{{ url_for('static',filename='img/home/finished.png') }}">
                    <p style="padding: 10px"><strong>Check out results. </strong> <br> You can directly analyze results
                        using interactive visualization on result page or download PDF report.</p>
                </div>
                <!--
                <div class="col-xs-3" align="center">
                    <img width="50%" src="{{ url_for('static',filename='img/home/download.png') }}">
                    <p style="padding: 10px"><strong>Download results and visualization</strong></p>
                </div>
                -->
            </div>
        </div>
        <hr>
        <div style=" padding-bottom: 20px; ">
            <h2 align="center" style="padding: 20px">Interactive Visualization</h2>
            <div class="row">
                <div class="col-sm-4" align="center">
                    <img width="40%" src="{{ url_for('static',filename='img/home/visualization.png') }}">
                </div>
                <div class="col-sm-8">
                    <!--
                    <p><strong>Results are visualized.</strong> To help understand the results, we will provide
                        interactive visualization of
                        intermediate results and final results, with options to zoom in and out for diverse views of the
                        data and results. </p>
                        -->
                    <p><strong>Visualizations are very useful tools to help analyze epistatic relationship.</strong>
                        EpiML provides friendly interactive visualizations, like circle network, adjacent matrix and
                        force-directed graph. When you move mouse over one node, more detailed information and linked
                        nodes will be high light.
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div style=" padding-bottom: 20px; ">
            <h2 align="center" style="padding: 20px"> Multiple Resources Integration</h2>
            <div class="row">
                <div class="col-sm-4" align="center">
                    <img width="40%" src="{{ url_for('static',filename='img/home/integration.png') }}">
                </div>
                <div class="col-sm-8">
                    <p><strong>Multiple external resources are integrated.</strong> UCSC genome browser links are
                        provided for genetic data. miRBase and miR2Disease database are embedded for microRNA data.
                        Multiple resources integration will significantly reduce user time for multi-step analysis.
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div style=" padding-bottom: 20px; ">
            <h2 align="center" style="padding: 20px"> Customize Your Analysis </h2>
            <div class="row">
                <div class="col-sm-4" align="center">
                    <img width="40%" src="{{ url_for('static',filename='img/home/customize.png') }}">
                </div>
                <div class="col-sm-8">
                    <p>For each job, its corresponding Jupyter notebook is automatically generated. All notebooks can be
                        downloaded, modified and rerun, allowing users to fully customize their epistasis analysis on
                        local computers. To achieve this, we provide a pre-configured Docker container containing a
                        fully functional Jupyter server with all the Python and R libraries necessary to run the
                        notebooks.
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <!--
        <div style=" padding-bottom: 20px; ">
            <h2 style=" padding-bottom: 20px; ">News</h2>
            <p>Jun. 5 2018 >> update log
            </p>
        </div>
        -->
    </div>
{% endblock %}