<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
    <title>Web Server | Shilab web server</title>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        function ShowHideFoldNum(chkCV) {
            var fold_number = document.getElementById("fold_number");
            fold_number.disabled = chkCV.checked ? false : true;
        }

        function ShowHideSeedNum(chkCV) {
            var seed_number = document.getElementById("seed_number");
            seed_number.disabled = chkCV.checked ? false : true;
        }
    </script>
{% endblock %}
{% block content %}
    <div>
        <h2>Case Study</h2>
        <p>This page provides specific epistasis analysis for some case studies. It can find out those significant the
            main effects and epistasis effects in your upload data, and provide circle network and adjacent matrix
            visualization. Bedises, it also integrates some metadata of omics data and external resources in
            visualization, such as gene annotations and biological pathways, to help interpret the results.</p>
        <hr>
        <!-- Tab links-->
        <!--
        <ul class="nav nav-tabs">
            <li class="active"><a href="{{ url_for('webserver_epistasis_miRNA_train') }}">Train</a></li>
            <li><a href="{{ url_for('webserver_epistasis_miRNA_predict') }}">Predict</a></li>
        </ul>
-->
        <div class="tab-content">
            <div id="training" class="tab-pane fade in active" style="padding-top: 20px">

                <p class="col-sm-offset-2" style="color: red; font-size: medium"><strong>All fields are
                    required.</strong></p>
                <form class="form-horizontal" method="post" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="jobname">Job Category:</label>
                        <div class="col-sm-10">
                            <label class="radio-inline col-sm-2">
                                <input id="jobcategory" name="jobcategory" type="radio" value="microRNA" CHECKED>
                                microRNA
                            </label>
                            <label class="radio-inline col-sm-2">
                                <input id="jobcategory" name="jobcategory" type="radio" value="SNP"> SNP
                            </label>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="jobname">Job Name:</label>
                        <div class="col-sm-4">
                            <input name="jobname" class="form-control" id="jobname" placeholder="Enter your job name"
                                   required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="email">Email:</label>
                        <div class="col-sm-4">
                            <input name="email" type="email" class="form-control" id="email"
                                   placeholder="Enter your Email"
                                   required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="description">Description:</label>
                        <div class="col-sm-10">
                            <textarea style="height: 100px" class="form-control" name="description" id="description"
                                      placeholder="Add your job purpose and describe your data, method and parameters."
                                      required></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="upload">Upload files:</label>
                        <div class="col-sm-10">
                            <div class="col-sm-6">
                                <label class="control-label" for="input-x">Choose your feature matrix X:</label>
                                <input class="form-control" type="file" id="input-x" name="input-x"
                                       required>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label" for="input-y">Choose your label matrix Y:</label>
                                <input class="form-control" type="file" id="input-y" name="input-y"
                                       required>
                            </div>
                            <div class="col-sm-6" style="padding-top: 10px">
                                <p style="font-size: small"> Here is sample data, <a
                                        href="{{ url_for('download_sample_data', filename='bc_x.txt') }}"
                                        target="_blank">feature matrix</a> and <a
                                        href="{{ url_for('download_sample_data', filename='bc_y.txt') }}"
                                        target="_blank">label matrix</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <label class="control-label col-sm-2" for="methods">Select Methods:</label>
                        <!--
                        <div class="col-sm-3">
                            <input class="form-control" type="checkbox" id="LASSO" name="methods" value="LASSO">
                            <label for="LASSO">LASSO</label>
                        </div>
                        -->
                        <div class="row" style="padding: 15px">
                            <div class=" col-sm-3">
                                <input type="radio" id="EBEN" name="method" value="EBEN">
                                <label for="EBEN">Empirical Bayesian Elastic Net</label>
                            </div>
                            <div class=" col-sm-3">
                                <input type="radio" id="ssLASSO" name="method" value="SSLASSO" checked>
                                <label for="ssLASSO">ssLASSO</label>
                            </div>
                        </div>
                        <!--
                        <div class=" col-sm-3">
                            <input class="form-control" type="checkbox" id="Matrix_eQTL" name="methods"
                                   value="Matrix_eQTL">
                            <label for="Matrix_eQTL">Matrix eQTL</label>
                        </div>
                        -->
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4 form-inline">
                            <input type="checkbox" id="cv" name="cv" CHECKED
                                   onclick="ShowHideFoldNum(this)">
                            <label for="cv"> Cross Validation: </label>
                            <input class="form-control" style="width: 50px;" type="text" id="fold_number"
                                   name="fold_number" maxlength="2" value="5">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4 form-inline">
                            <input type="checkbox" id="ss" name="ss" CHECKED
                                   onclick="ShowHideSeedNum(this)">
                            <label for="ss"> Specify Seed: </label>
                            <input class="form-control" style="width: 100px;" type="text" id="seed_number" value="28213"
                                   name="seed_number">
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}