<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
    <title>Web Server | EpiML@ShiLab</title>
{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
        /* Tooltip container */
        .question_tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
        }

        /* Tooltip text */
        .question_tooltip .tooltiptext {
            visibility: hidden;
            width: 150px;
            background-color: #555;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;

            /* Position the tooltip text */
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -60px;

            /* Fade in tooltip */
            opacity: 0;
            transition: opacity 0.3s;
        }

        /* Tooltip arrow */
        .question_tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .question_tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
    </style>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        function ShowHideFoldNum(chkCV) {
            var fold_number = document.getElementById("fold_number");
            fold_number.disabled = chkCV.checked ? false : true;
        }

        function ShowHideSeedNum(chkCV) {
            var seed_number = document.getElementById("seed_number");
            seed_number.disabled = chkCV.checked ? false : true;
        }
    </script>
{% endblock %}
{% block content %}
    <div>
        <h2>Server</h2>
        <div>
            <p>Separately upload feature matrix X and target matrix Y, and submit job in this page. A
                step-by-step tutorial can be found in <a href="{{ url_for('help') }}"> Help</a>. When you submit the
                job, it will be run in background. If you provide an Email address, an Email notification with result
                link will be sent to you. You can check the running status and get final report by the link.

                <!--When job is
                done, you will receive another Email
                notification.-->
            </p>
        </div>
        <hr>
        <div style="padding-top: 20px">
            <p class="col-sm-offset-2" style="color: red; font-size: medium"><strong>All fields marked with an asterisk
                (*) are required.</strong></p>
            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                <!-- hidden input is for csrf protection -->
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                <div class="form-group row">
                    <label class="control-label col-sm-2" for="jobname">Job Name<span
                            style="color: red">*</span>:
                        <div class="question_tooltip"><span class="glyphicon glyphicon-question-sign"></span>
                            <span class="tooltiptext">To identify jobs when you retrieve results.</span>
                        </div>
                    </label>
                    <div class="col-sm-4">
                        <input name="jobname" class="form-control" id="jobname" placeholder="Enter your job name"
                               required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-2" for="email">Email:
                        <div class="question_tooltip"><span class="glyphicon glyphicon-question-sign"></span>
                            <span class="tooltiptext">To accept notification and retrieve results. It is optional. </span>
                        </div>
                    </label>
                    <div class="col-sm-4">
                        <input name="email" type="email" class="form-control" id="email"
                               placeholder="Enter your Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-2 " for="jobcategory">Job Category <span
                            style="color: red">*</span>:
                        <div class="question_tooltip"><span class="glyphicon glyphicon-question-sign"></span>
                            <span class="tooltiptext">Refer to what kind of job. For Gene and microRNA job, external resources will be integrated in result visualization.</span>
                        </div>
                    </label>
                    <div class="col-sm-10">
                        <label class="radio-inline col-sm-3">
                            <input id="jobcategory" name="jobcategory" type="radio" value="Gene" CHECKED> Gene
                            <select name="species" id="species">
                                <option value="Human">Human</option>
                                <option value="Mouse">Mouse</option>
                                <option value="C. elegans">C. elegans</option>
                                <option value="S. cerevisiae" selected>S. cerevisiae</option>
                            </select>
                        </label>

                        <label class="radio-inline col-sm-2">
                            <input id="jobcategory" name="jobcategory" type="radio" value="microRNA"> microRNA
                        </label>
                        <label class="radio-inline col-sm-2">
                            <input id="jobcategory" name="jobcategory" type="radio" value="Other"> Other
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-2 " for="datatype"> Data Type of Feature Matrix <span
                            style="color: red">*</span>:
                        <div class="question_tooltip"><span class="glyphicon glyphicon-question-sign"></span>
                            <span class="tooltiptext"> Feature matrix has different preprocess depending on its data type. </span>
                        </div>
                    </label>
                    <div class="col-sm-10">
                        <label class="radio-inline col-sm-2">
                            <input id="datatype" name="datatype" type="radio" value="discrete" checked> Discrete
                        </label>
                        <label class="radio-inline col-sm-2">
                            <input id="datatype" name="datatype" type="radio" value="continuous"> Continuous
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-2" for="description">Description:
                        <div class="question_tooltip"><span class="glyphicon glyphicon-question-sign"></span>
                            <span class="tooltiptext">To help annotate job details, such as purpose, type of data, and parameters. It is optional. </span>
                        </div>
                    </label>
                    <div class="col-sm-10">
                            <textarea style="height: 100px" class="form-control" name="description" id="description"
                                      placeholder="Describe your data, method and parameters"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="upload">Upload files<span
                            style="color: red">*</span>:
                        <div class="question_tooltip"><span class="glyphicon glyphicon-question-sign"></span>
                            <span class="tooltiptext">Upload the feature matrix file and target matrix file separately.</span>
                        </div>
                    </label>
                    <div class="col-sm-10" id="upload" name="upload">
                        <div class="col-sm-6">
                            <label class="control-label" for="input-x">Choose your feature matrix X:</label>
                            <input class="form-control" type="file" id="input-x" name="input-x"
                                   required>
                        </div>
                        <div class="col-sm-6">
                            <label class="control-label" for="input-y">Choose your target matrix Y:</label>
                            <input class="form-control" type="file" id="input-y" name="input-y"
                                   required>
                        </div>
                        <div class="col-sm-12" style="padding-top: 10px">
                            <p style="font-size: small"> Here is small yeast data. <a
                                    href="{{ url_for('download_sample_data', filename='yeast_Geno.txt') }}"
                                    target="_blank">Feature matrix</a> is a subset of yeast genetic variants and <a
                                    href="{{ url_for('download_sample_data', filename='yeast_Pheno.txt') }}"
                                    target="_blank">target matrix</a> is a simulation of genetic expression.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="form-group form-inline">
                    <label class="control-label col-sm-2" for="method">Select Method<span
                            style="color: red">*</span>:
                        <div class="question_tooltip"><span class="glyphicon glyphicon-question-sign"></span>
                            <span class="tooltiptext">Select one method and set parameters</span>
                        </div>
                    </label>

                    <div class="row" style="padding: 15px">
                        <div class=" col-sm-2">
                            <input type="radio" id="LASSO" name="method" value="LASSO" checked>
                            <label for="LASSO">LASSO
                                <div class="question_tooltip"><span class="glyphicon glyphicon-question-sign"></span>
                                    <span class="tooltiptext">Least Absolute Shrinkage and Selection Operator</span>
                                </div>
                            </label>
                        </div>
                        <div class=" col-sm-2">
                            <input type="radio" id="ssLASSO" name="method" value="ssLASSO">
                            <label for="ssLASSO">ssLASSO
                                <div class="question_tooltip"><span class="glyphicon glyphicon-question-sign"></span>
                                    <span class="tooltiptext">Spike-and-Slab LASSO</span>
                                </div>
                            </label>
                        </div>
                        <div class=" col-sm-2">
                            <input type="radio" id="EBEN" name="method" value="EBEN">
                            <label for="EBEN">EBEN
                                <div class="question_tooltip"><span class="glyphicon glyphicon-question-sign"></span>
                                    <span class="tooltiptext">Empirical Bayesian Elastic Net</span>
                                </div>
                            </label>
                        </div>
                    </div>
                    <!--
                    <div class=" col-sm-3">
                        <input class="form-control" type="checkbox" id="Matrix_eQTL" name="methods"
                               value="Matrix_eQTL">
                        <label for="Matrix_eQTL">Matrix eQTL</label>
                    </div>
                    -->
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4 form-inline">
                        <input type="checkbox" id="cv" name="cv" CHECKED
                               onclick="ShowHideFoldNum(this)">
                        <label for="cv"> Cross Validation: </label>
                        <input class="form-control" style="width: 50px;" type="text" id="fold_number"
                               name="fold_number" maxlength="2" value="5">
                    </div>
                </div>
                <!---
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4 form-inline">
                        <input type="checkbox" id="ss" name="ss" CHECKED
                               onclick="ShowHideSeedNum(this)">
                        <label for="ss"> Specify Seed: </label>
                        <input class="form-control" style="width: 100px;" type="text" id="seed_number" value="28213"
                               name="seed_number">
                    </div>
                </div>
                -->
                <hr>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
{% endblock %}