<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
    <title>Web Server | Shilab web server</title>
{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
        /* Tooltip container */
        .question_tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
        }

        /* Tooltip text */
        .question_tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: #555;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;

            /* Position the tooltip text */
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -60px;

            /* Fade in tooltip */
            opacity: 0;
            transition: opacity 0.3s;
        }

        /* Tooltip arrow */
        .question_tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .question_tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
    </style>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        function ShowHideFoldNum(chkCV) {
            var fold_number = document.getElementById("fold_number");
            fold_number.disabled = chkCV.checked ? false : true;
        }

        function ShowHideSeedNum(chkCV) {
            var seed_number = document.getElementById("seed_number");
            seed_number.disabled = chkCV.checked ? false : true;
        }
    </script>
{% endblock %}
{% block content %}
    <div>
        <h2>Server</h2>
        <div>
            <p>You can upload feature matrix X and label matrix Y, and submit your job in this page. A step-by-step
                tutorial can be found in <a href="{{ url_for('help') }}"> Help</a>. When you submit the job, it will be
                run in background. And an Email notification with processing link and security code will sent to you.
                You can check the running status and get final report by the link. When your job is done, you will
                receive another Email notification.
            </p>
        </div>
        <hr>
        <div style="padding-top: 20px">
            <p class="col-sm-offset-2" style="color: red; font-size: medium"><strong>All fields are
                required.</strong></p>
            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                <div class="form-group row">
                    <label class="control-label col-sm-2 " for="jobname">Job Category:
                        <div class="question_tooltip"><span class="glyphicon glyphicon-question-sign"></span>
                            <span class="tooltiptext">Tooltip text</span>
                        </div>
                    </label>
                    <div class="col-sm-10">
                        <label class="radio-inline col-sm-2">
                            <input id="jobcategory" name="jobcategory" type="radio" value="gene" CHECKED> Gene
                        </label>
                        <label class="radio-inline col-sm-2">
                            <input id="jobcategory" name="jobcategory" type="radio" value="microRNA">
                            microRNA
                        </label>
                        <label class="radio-inline col-sm-2">
                            <input id="jobcategory" name="jobcategory" type="radio" value="other"> Other
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-2" for="jobname">Job Name:
                        <div class="question_tooltip"><span class="glyphicon glyphicon-question-sign"></span>
                            <span class="tooltiptext">Tooltip text</span>
                        </div>
                    </label>
                    <div class="col-sm-4">
                        <input name="jobname" class="form-control" id="jobname" placeholder="Enter your job name"
                               required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-2" for="email">Email:
                    <div class="question_tooltip"><span class="glyphicon glyphicon-question-sign"></span>
                            <span class="tooltiptext">Tooltip text</span>
                        </div>
                    </label>
                    <div class="col-sm-4">
                        <input name="email" type="email" class="form-control" id="email"
                               placeholder="Enter your Email"
                               required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-2" for="description">Description:
                    <div class="question_tooltip"><span class="glyphicon glyphicon-question-sign"></span>
                            <span class="tooltiptext">Tooltip text</span>
                        </div>
                    </label>
                    <div class="col-sm-10">
                            <textarea style="height: 100px" class="form-control" name="description" id="description"
                                      placeholder="Add your job purpose and describe your data, method and parameters."
                                      required></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="upload">Upload files:
                    <div class="question_tooltip"><span class="glyphicon glyphicon-question-sign"></span>
                            <span class="tooltiptext">Tooltip text</span>
                        </div>
                    </label>
                    <div class="col-sm-10">
                        <div class="col-sm-6">
                            <label class="control-label" for="input-x">Choose your feature matrix X:</label>
                            <input class="form-control" type="file" id="input-x" name="input-x"
                                   required>
                        </div>
                        <div class="col-sm-6">
                            <label class="control-label" for="input-y">Choose your label matrix Y:</label>
                            <input class="form-control" type="file" id="input-y" name="input-y"
                                   required>
                        </div>
                        <div class="col-sm-6" style="padding-top: 10px">
                            <p style="font-size: small"> Here is sample data, <a
                                    href="{{ url_for('download_sample_data', filename='bc_x.txt') }}"
                                    target="_blank">feature matrix</a> and <a
                                    href="{{ url_for('download_sample_data', filename='bc_y.txt') }}"
                                    target="_blank">label matrix</a>.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group form-inline">
                    <label class="control-label col-sm-2" for="methods">Select Method:
                    <div class="question_tooltip"><span class="glyphicon glyphicon-question-sign"></span>
                            <span class="tooltiptext">Tooltip text</span>
                        </div>
                    </label>
                    <!--
                    <div class="col-sm-3">
                        <input class="form-control" type="checkbox" id="LASSO" name="methods" value="LASSO">
                        <label for="LASSO">LASSO</label>
                    </div>
                    -->
                    <div class="row" style="padding: 15px">
                        <div class=" col-sm-2">
                            <input type="radio" id="EBEN" name="method" value="EBEN" checked>
                            <label for="EBEN">EBEN</label>
                        </div>
                        <div class=" col-sm-2">
                            <input type="radio" id="lasso" name="method" value="lasso">
                            <label for="EBEN">Lasso</label>
                        </div>
                        <div class=" col-sm-2">
                            <input type="radio" id="ssLASSO" name="method" value="SSLASSO">
                            <label for="ssLASSO">ssLASSO</label>
                        </div>
                    </div>
                    <!--
                    <div class=" col-sm-3">
                        <input class="form-control" type="checkbox" id="Matrix_eQTL" name="methods"
                               value="Matrix_eQTL">
                        <label for="Matrix_eQTL">Matrix eQTL</label>
                    </div>
                    -->
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4 form-inline">
                        <input type="checkbox" id="cv" name="cv" CHECKED
                               onclick="ShowHideFoldNum(this)">
                        <label for="cv"> Cross Validation: </label>
                        <input class="form-control" style="width: 50px;" type="text" id="fold_number"
                               name="fold_number" maxlength="2" value="5">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4 form-inline">
                        <input type="checkbox" id="ss" name="ss" CHECKED
                               onclick="ShowHideSeedNum(this)">
                        <label for="ss"> Specify Seed: </label>
                        <input class="form-control" style="width: 100px;" type="text" id="seed_number" value="28213"
                               name="seed_number">
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
{% endblock %}