<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
    <title>Web Server | Shilab web server</title>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        function ShowHideCV(chkCV) {
            var fold_number = document.getElementById("fold_number");
            fold_number.style.visibility = chkCV.checked ? "visible" : "hidden";
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var arr = new Array();
            $("select[multiple]").change(function () {
                $(this).find("option:selected");
                if ($(this).find("option:selected").length > 3) {
                    $(this).find("option").removeAttr("selected");
                    $(this).val(arr);
                }
                else {
                    arr = new Array();
                    $(this).find("option:selected").each(function (index, item) {
                        arr.push($(item).val());
                    });
                }
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div>
        <h2>Web Server</h2>
        This service doesn't work.
        <hr>
        <!-- Tab links-->
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#training">Training</a></li>
            <li><a data-toggle="tab" href="#testing">Testing</a></li>
        </ul>

        <div class="tab-content">
            <div id="training" class="tab-pane fade in active" style="padding-top: 20px">
                <p>Upload labeled data and choose some methods to train your models. </p>
                <hr>
                <p class="col-sm-offset-2" style="color: red;"><strong>All fields are required.</strong></p>
                <form class="form-horizontal" method="post" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="jobname">Job Name:</label>
                        <div class="col-sm-4">
                            <input name="jobname" class="form-control" id="jobname" placeholder="Enter your job name"
                                   required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="email">Email:</label>
                        <div class="col-sm-4">
                            <input name="email" type="email" class="form-control" id="email"
                                   placeholder="Enter your Email"
                                   required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="description">Description:</label>
                        <div class="col-sm-10">
                            <textarea style="height: 100px" name="description" class="form-control" id="description"
                                      placeholder="Add description for your job, like data, method and parameters."
                                      required>
                            </textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="upload">Upload files:</label>
                        <div class=" col-sm-5">
                            <label class="control-label" for="input-x">Choose your training data: X</label>
                            <input class="form-control" type="file" id="input-x" name="input-x"
                                   placeholder="choose your training data: X" required>
                        </div>
                        <div class=" col-sm-5">
                            <label class="control-label" for="input-y">Choose your training label: Y</label>
                            <input class="form-control" type="file" id="input-y" name="input-y"
                                   placeholder="choose your training label: Y" required>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <label class="control-label col-sm-2" for="methods">Select Methods:</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="checkbox" id="LASSO" name="methods" value="LASSO">
                            <label for="LASSO">Elastic Net</label>
                        </div>
                        <div class=" col-sm-3">
                            <input class="form-control" type="checkbox" id="EBEN" name="methods" value="EBEN">
                            <label for="EBEN">Empirical Bayesian Elastic Net</label>
                        </div>
                        <!---
                                                <div class=" col-sm-3">
                                                    <input class="form-control" type="checkbox" id="Matrix_eQTL" name="methods"
                                                           value="Matrix_eQTL">
                                                    <label for="Matrix_eQTL">Matrix eQTL</label>
                                                </div>
                        -->
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4 form-inline">
                            <input type="checkbox" id="cv" name="cv" onclick="ShowHideCV(this)" CHECKED>
                            <label for="validation"> Cross Validation </label>
                            <input class="form-control" style="width: 50px;" type="text" id="fold_number"
                                   name="fold_number"
                                   maxlength="2" value="5">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4 form-inline">
                            <input type="checkbox" id="seed" name="seed" CHECKED>
                            <label for="validation"> Specify Seed </label>
                            <input class="form-control" style="width: 100px;" type="text" id="seed_number"
                                   name="seed_number">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

            <div id="testing" class="tab-pane fade" style="padding-top: 20px">
                <p>Upload unknown data and choose a model to predict your samples. </p>
                <hr>
                <p class="col-sm-offset-2" style="color: red;"><strong>All fields are required.</strong></p>
                <form class="form-horizontal" method="post" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="jobname">Job Name:</label>
                        <div class="col-sm-4">
                            <input name="jobname" class="form-control" id="jobname" placeholder="Enter your job name"
                                   required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="email">Email:</label>
                        <div class="col-sm-4">
                            <input name="email" type="email" class="form-control" id="email"
                                   placeholder="Enter your Email"
                                   required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="description">Description:</label>
                        <div class="col-sm-10">
                    <textarea style="height: 100px" name="description" class="form-control" id="description"
                              placeholder="Add description for your job, like data, method and parameters."
                              required></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="upload">Upload files:</label>
                        <div class=" col-sm-5">
                            <label class="control-label" for="input-x">Choose your unknown data: X</label>
                            <input class="form-control" type="file" id="input-x" name="input-x"
                                   placeholder="choose your unknown data: X" required>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <label class="control-label col-sm-2" for="methods">Choose Models:</label>
                        <div class="col-sm-5">
                            <select multiple>
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="opel">Opel</option>
                                <option value="audi">Audi</option>
                            </select>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}