<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
    <title>About | Shilab web server</title>
{% endblock %}
{% block content %}
    <div>
        <h2>About</h2>
        <hr>
        <h3>Contact</h3>
        <p><a href="https://shilab.uncc.edu" target="_blank"> Shi Lab </a></p>
        <hr>
        <h3>Cite us</h3>
        <p>Please cite these papers if you use Epistatic Analysis Server:</p>
        <ul>
            <li>First paper</li>
            <li>Second paer</li>
        </ul>
    </div>

{% endblock %}