<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
    <title>Help | Shilab web server</title>
{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
        ul {
            font-size: large;
        }
    </style>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src='{{ url_for('static', filename='js/offset_height_for_help_nav.js') }}'></script>
{% endblock %}

{% block content %}
    <div class="col-sm-3">
        <ul class="nav nav-stacked nav-pills  affix">
            <h2>Help</h2>
            <hr>
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#getting_started">Getting Started</a></li>
            <li><a href="#model_repository">Model Repository</a></li>
            <li><a href="#visualization">Visualization</a></li>
            <li><a href="#external_resources">External Resources</a></li>
            <li><a href="#FAQ">FAQ</a></li>
        </ul>
    </div>
    <div class="col-sm-9">
        <main>
            <section class="anchor" id="introduction">
                <h2>Introduction</h2>
                <p> Epistasis analysis is a foundation in the analysis of genetic networks. The concept of epistasis was
                    introduced nearly 100 years ago. In 1909, Bateson used the term “epistasis” to describe instances in
                    which the effect of a particular genetic variant was masked by a variant at another locus so that
                    variation of phenotype with genotype at one locus was only apparent amongst those with certain
                    genotypes
                    at the second locus (Bateson, 1909). And today, the term “epistasis” is sometimes used to describe
                    some
                    form of statistical interaction between genetic factors and is alternatively sometimes used to
                    describe
                    instances in which the effect of a particular genetic variant is masked by a variant at another
                    locus.
                    In general statistical tests for interaction are of limited use in detecting “epistasis” in the
                    sense of
                    masking.
                </p>
                <!--
                <p> Epistasis analysis is used to determine if genes with related mutant phenotypes act
                    in the same or different pathways, and, if in the same pathway, to place them in a
                    linear order relative to one another based on the step in the pathway controlled by
                    that gene. In other words, one uses epistasis analysis to construct an order-offunction
                    map that reflects the sequence of events in a pathway controlled by several
                    genes. [Ref. Genetic Techniques for Biological Research]
                </p>
                -->
                <p> Epistasis Analysis Server is a free web service.
                    The schematic diagram is following:</p>
                <img width="80%" src="{{ url_for('static',filename='img/help/schematic_graph.png') }}">
            </section>
            <section class="anchor" id="getting_started">

                <h2>Getting Started</h2>
                <p> This is a step-by-step tutorial how to use Epistasis Analysis Server.</p>
                <h4>0. Prepare your data</h4>
                <p>
                <pre>plink --ped mystudy_chr1.ped --map mystudy_chr1.map --recode vcf --out mystudy_chr1</pre>
                <code>test </code>
                </p>
                <hr>
                <h4>1. Upload your data</h4>
                <p></p>
                <p>data sensitivity</p>

                <hr>
                <h4>2. Submit jobs</h4>
                <hr>
                <h4>3. Epistasis Analysis</h4>
                <hr>
                <h4>4.Download results</h4>
                <hr>
                <p>

                </p>
            </section>
            <section class="anchor" id="model_repository">
                <h2>Model Repository</h2>
                <p>For any question about this service please email <a href="mailto:an_example@gmail.com">an_example@gmail.com</a>
                </p>
            </section>
            <section class="anchor" id="visualization">
                <h2>Visualization</h2>
                <p>For any question about this service please email <a href="mailto:an_example@gmail.com">an_example@gmail.com</a>
                </p>
            </section>
            <section class="anchor" id="external_resources">
                <h2>External Resources</h2>
                <p>For any question about this service please email <a href="mailto:an_example@gmail.com">an_example@gmail.com</a>
                </p>
            </section>
            <section class="anchor" id="FAQ">
                <h2>FAQ</h2>
                <p>For any question about this service please email <a href="mailto:an_example@gmail.com">an_example@gmail.com</a>
                </p>
            </section>
        </main>
    </div>
{% endblock %}