<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
    <title>Help | Shilab web server</title>
{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
        ul {
            font-size: large;
        }
    </style>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src='{{ url_for('static', filename='js/offset_height_for_help_nav.js') }}'></script>
{% endblock %}

{% block content %}
    <div class="col-sm-3">
        <ul class="nav nav-stacked nav-pills  affix">
            <h2>Help</h2>
            <hr>
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#getting_started">Getting Started</a></li>

            <li><a href="#visualization">Visualization</a></li>
            <li><a href="#model_repository">Model Repository</a></li>
            <li><a href="#machine_learning_methods">Machine Learning Methods</a></li>
            <li><a href="#FAQ">FAQ</a></li>
        </ul>
    </div>
    <div class="col-sm-9">
        <main>
            <section class="anchor" id="introduction">
                <h2>1. Introduction</h2>
                <p> Epistasis is the phenomenon where the effect of one gene (locus) is dependent on the presence of one
                    or more 'modifier genes', i.e. the genetic background.[1] Originally the term meant that the
                    phenotypic effect of one gene is masked by a different gene (locus).[2] Thus, epistatic mutations
                    have different effects in combination than individually. It was originally a concept from genetics
                    but is now used in biochemistry, computational biology and evolutionary biology. It arises due to
                    interactions, either between genes, or within them, leading to non-linear effects. Epistasis has a
                    large influence on the shape of evolutionary landscapes, which leads to profound consequences for
                    evolution and evolvability of phenotypic traits. This server detects epistatic features in your
                    upload data by using statistic methods and machine learning methods.
                </p>
                <!--
                <p> Epistasis analysis is used to determine if genes with related mutant phenotypes act
                    in the same or different pathways, and, if in the same pathway, to place them in a
                    linear order relative to one another based on the step in the pathway controlled by
                    that gene. In other words, one uses epistasis analysis to construct an order-offunction
                    map that reflects the sequence of events in a pathway controlled by several
                    genes. [Ref. Genetic Techniques for Biological Research]
                </p>
                -->
                <p> Epistasis Analysis Server is a free web service.
                    The schematic diagram is following:</p>
                <img width="80%" src="{{ url_for('static',filename='img/help/schematic_graph.png') }}">
            </section>
            <hr>
            <section class="anchor" id="getting_started">
                <h2>2. Getting Started</h2>
                <p> This is a step-by-step tutorial how to use EpiML to find out main and epistasis effects in your
                    data.</p>
                <br>
                <h4>2.0. Prepare your data</h4>
                <p>Input files include two parts: feature matrix <strong>X</strong>, and label matrix <strong>Y</strong>.
                    Both of them are table separated files with row and column names. An example for SNP file is shown
                    in following:</p>

                <div class="row">
                    <div class="col-xs-12">
                        <p> Feature matrix X:
                            <img width="100%"
                                 src="{{ url_for('static',filename='img/help/feature_matrix_X.png') }}"></p>
                    </div>
                    <div class="col-xs-3">
                        <p>Label matrix Y: <br>
                            <img width="90%"
                                 src="{{ url_for('static',filename='img/help/label_matrix_Y.png') }}">
                        </p>
                    </div>
                </div>
                <p><strong>Important notes:</strong></p>
                <ul>
                    <li>Only files with .txt or .csv extensions are accepted.</li>
                    <li>File size is limited to no more than 5MB.</li>
                </ul>

                <!--
                    <p>
                    <pre>plink --ped mystudy_chr1.ped --map mystudy_chr1.map --recode vcf --out mystudy_chr1</pre>
                    <code>test </code>
                    </p>
                -->
                <hr>
                <h4>2.1. Upload data</h4>
                <p>Some basic information is required when you upload data. </p>
                <ul>
                    <li><strong>Job name</strong> is used to retrieve results when you submitted job is done.
                    </li>
                    <li><strong>Email</strong> is used to receive job status and security code. For data security, a
                        security code is required when you want to retrieve results online.
                    </li>
                    <li><strong>Description</strong> is used to help user annotate their jobs, such as purpose, type of
                        data, and parameters.
                    </li>
                    <li><strong>Upload</strong> the prepared files. Upload the feature matrix file and label matrix file
                        separately.
                    </li>
                    <li><strong>Select a method</strong>. Three popular machine learning methods are built in web
                        server. Refer to machine learning methods section to learn more details about build-in machine
                        learning methods.
                    </li>
                </ul>
                <div>
                    <img width="100%" src="{{ url_for('static',filename='img/help/upload_data.png') }}">
                </div>
                <hr>

                <h4>2.2. Submit and check job status</h4>
                <p> After submit your job, it will be added into job queue waiting for execution in background. The
                    browser will jump to a processing page where you can check your job status, as following figure
                    shown. Meanwhile, you will receive an Email notification with security code.
                    The results will be shown on your screen when it is finished. Because all jobs are
                    running in background, you also can close this page. When jos
                    is done, you will receive another Email notification and retrieve your results using the link in
                    Email.</p>
                <div><img width="100%" src="{{ url_for('static',filename='img/help/start_job.png') }}"></div>

                <p>If you submit several jobs, you can log in Job page to check all jobs you've
                    submit. All jobs will be listed in a interactive table where you can manage jobs you submitted, like
                    rank, search, and delete, as following figure shown. You also can retrieve corresponding results
                    through the <strong>Results</strong> button in each end of line.</p>
                <div><img width="100%" src="{{ url_for('static',filename='img/help/job_table.png') }}"></div>

                <hr>

                <h4>2.3. Results</h4>
                <p>EpiML can detect main effects and epistatic effects in your data. These detected results will be list
                    in two interactive tables correspondingly, as following figure shown, where you can rank whole table
                    by
                    anyone column and search all contents to find out your interesting features. </p>

                <img width="100%" src="{{ url_for('static',filename='img/help/result_table.png') }}">
                <!--<img width="100%" src="{{ url_for('static',filename='img/help/epi_effect.png') }}">-->
                <hr>
                <h4>2.4. Download results</h4>
                <hr>
                <p>

                </p>
            </section>
            <section class="anchor" id="visualization">
                <h2>3. Visualization</h2>
                <p> We provides three kind of interactive visualizations, including circle network, adjacency matrix and
                    force-directed graph. When you move mouse over one node, more detailed information and linked nodes
                    will be highlighted. When you click one node in one diagram, the corresponding nodes in other two
                    diagrams will also be highlighted.
                </p>
                <h4>3.1. Circle Network</h4>
                <p>One node in circle network represents a feature in epistatic effect results table. All nodes are
                    arranged as a circle. Two nodes that have epistatic relationship are linked by an undirected edge.
                    Circle network has two main advantages comparing to table:
                    1) It is easy to find out which feature has the most epistatic effects on other features;
                    2) It is easy to find complex indirected relationship among features.</p>
                <p> You can move mouse over one node to find its epistatic nodes in red. When you
                    click one node, the node and its associated nodes will be highlighted in green. </p>
                <div align="center">
                    <img width="100%" src="{{ url_for('static',filename='img/help/circle_network.png') }}">
                </div>

                <h4>3.2. Adjacency Matrix</h4>
                <p>The row and column names in adjacency matrix both are the features in epistatic effect table. Each
                    cell (i, j) represents an edge from vertex i to vertex j. Matrix cell depicts coefficient value in
                    epistatic effect table. The darker cells indicate strong interaction. Adjacency matrix has two
                    advantages comparing to circle network:
                    1) Adjacency matrix can give a whole picture of epistatic relationship, especially for large number
                    of epistatic features; 2) Matrix cell value can represent the strength of epistatic relationship.
                    And it also can be encoded to show additional data.</p>

                <p> You can move mouse over one node to check its epistatic feature and coefficient value.</p>
                <div align="center">
                    <img width="100%" src="{{ url_for('static',filename='img/help/adjacency_matrix.png') }}">
                </div>

                <h4>3.3. Force-directed Graph</h4>
                <p>Force-directed graph is a more flexible way to represent epistatic relationship. One node in graph
                    represents a feature in epistatic effect table. Two nodes that have epistatic relationship are
                    linked by an edge. All kinds of information can be
                    embedded in force-directed graph, like coefficient value and external resources.</p>
                <p> You can move mouse over and drag one node to check its linked epistatic features. Click one node to
                    show more information.</p>
                <div align="center">
                    <img width="100%" src="{{ url_for('static',filename='img/help/forced-direct_graph.png') }}">
                </div>

            </section>
            <!--
            <section class="anchor" id="model_repository">
                <h2>Model Repository</h2>
                <p>For any question about this service please email <a href="mailto:an_example@gmail.com">an_example@gmail.com</a>
                </p>
            </section>
            -->
            <section class="anchor" id="machine_learning_methods">
                <h2>Machine Learning Methods</h2>
                <p>For any question about this service please email <a href="mailto:an_example@gmail.com">an_example@gmail.com</a>
                </p>
            </section>
            <section class="anchor" id="FAQ">
                <h2>FAQ</h2>
                <p>For any question about this service please email <a href="mailto:an_example@gmail.com">an_example@gmail.com</a>
                </p>
            </section>
        </main>
    </div>
{% endblock %}