<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
    <title>Home | Shilab web server</title>
{% endblock %}
{% block content %}
    <div>

        <div style="background-color: whitesmoke;padding: 30px">
            <h1>Epistatic Analysis Sever: An open machine learning web service and model repository for the
                epistatic analysis </h1>
            <p>This server provides epistatic analysis, through which biologists and
                biomedical researchers can train a specific model based on their own data or predict their new
                data based on a shared model in model repository, and visualize results using interactive
                visualizations. </p>
        </div>
        <div style=" padding-bottom: 20px; ">
            <h2 align="center" style="padding: 20px">Easy to Use</h2>
            <div class="row">
                <div class="col-sm-3" align="center">
                    <img width="50%" src="{{ url_for('static',filename='img/home/upload.png') }}">
                    <p style="padding: 10px"><strong>Upload training data to our server. All user’s data will be kept
                        private.</strong></p>
                </div>
                <div class="col-sm-3" align="center">
                    <img width="50%" src="{{ url_for('static',filename='img/home/submit.png') }}">
                    <p style="padding: 10px"><strong>Select methods and submit jobs.</strong>
                    </p>
                </div>
                <div class="col-sm-3" align="center">
                    <img width="50%" src="{{ url_for('static',filename='img/home/processing.png') }}">
                    <p style="padding: 10px"><strong>Multiple threads to process. All processing is automated.</strong>
                    </p>
                </div>
                <div class="col-sm-3" align="center">
                    <img width="50%" src="{{ url_for('static',filename='img/home/finished.png') }}">
                    <p style="padding: 10px"><strong>Download results when your jobs is finished.</strong></p>
                </div>
                <!--
                <div class="col-sm-3" align="center">
                    <img width="50%" src="{{ url_for('static',filename='img/home/download.png') }}">
                    <p style="padding: 10px"><strong>Download results and visualization</strong></p>
                </div>
                -->
            </div>

        </div>
        <hr>
        <div style=" padding-bottom: 20px; ">
            <h2 align="center" style="padding: 20px">Model Repository</h2>
            <div class="row">
                <div class="col-sm-4" align="center">
                    <img width="40%" src="{{ url_for('static',filename='img/home/repository.png') }}">
                </div>
                <div class="col-sm-8">
                    <p><strong>Trained models are stored, and they are convenient to share with others.</strong> Due to
                        the challenges of replicating large models on large datasets, it is hard to achieve a good
                        model following existing work. We will provide a model repository which is a set of unified
                        containers with trained models. We will package the depending packages, configurations, model
                        parameters, and training details in the container, which can be run on any operating system.</p>
                </div>
            </div>
        </div>
        <hr>
        <div style=" padding-bottom: 20px; ">
            <h2 align="center" style="padding: 20px">Interactive Visualization</h2>
            <div class="row">
                <div class="col-sm-4" align="center">
                    <img width="40%" src="{{ url_for('static',filename='img/home/visualization.png') }}">
                </div>
                <div class="col-sm-8">
                    <p><strong>Results are visualized.</strong> To help understand the results, we will provide
                        interactive visualization of
                        intermediate results and final results, with options to zoom in and out for diverse views of the
                        data and results. </p>
                </div>
            </div>
        </div>
        <hr>
        <div style=" padding-bottom: 20px; ">
            <h2 align="center" style="padding: 20px"> Multiple Resources Integration</h2>
            <div class="row">
                <div class="col-sm-4" align="center">
                    <img width="40%" src="{{ url_for('static',filename='img/home/integration.png') }}">
                </div>
                <div class="col-sm-8">
                    <p><strong>Multiple external resources are integrated for analysis.</strong> Many external resources
                        are embedded in results visualization. We also provide links to metadata of omics data and
                        external resources, such as gene annotations and biological pathways, to help interpret the
                        results. </p>
                </div>
            </div>
        </div>
        <hr>
        <div style=" padding-bottom: 20px; ">
            <h2 style=" padding-bottom: 20px; ">News</h2>
            <p>Jun. 5 2018 >> update log
            </p>
        </div>
    </div>
{% endblock %}