<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
    <title>Jobs | Shilab web server</title>
{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
        /*
        .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
            background-color: coral;
        }
        */
        .table-hover tbody .tr_hover:hover td, .table-hover tbody .tr_hover:hover th {
            background-color: coral;
            cursor: pointer;
        }

        .hiddenRow {
            padding: 0 !important;
        }
    </style>
{% endblock %}
{% block content %}
    <div>
        <h2>Jobs</h2>
        <p>This page lists all submitted jobs. There are total {{ jobs|length }} jobs</p>
        <hr>

        <table class="table table-hover table-condense">
            <thead>
            <tr class="bg-white">
                <th>#</th>
                <th>Name</th>
                <th>Selected Methods</th>
                <th>Submit time</th>
                <th>Running status</th>
            </tr>
            </thead>
            <tbody>
            {% for job in jobs %}

                {% if loop.index % 2 == 0 %}
                    <tr class="bg-info tr_hover accordion-toggle collapsible" data-toggle="collapse" data-target="#row{{ loop.index0 + 1 }}">
                {% else %}
                    <tr class="bg-success tr_hover accordion-toggle collapsible" data-toggle="collapse" data-target="#row{{ loop.index0 + 1 }}">
                {% endif %}
                <td>{{ loop.index0 + 1 }}</td>
                <td>{{ job.jobname }}</td>
                <td>{{ job.selected_algorithm }}</td>
                <td>{{ momentjs(job.timestamp).calendar() }} </td>
                <td>{% if job.status==0 %}
                        Waiting...
                    {% elif job.status==1 %}
                        Running...
                    {% elif job.status==2 %}
                        Done! Use time: {{ job.running_time }}
                    {% else %}
                        Don't exist!
                    {% endif %}
                </td>
                </tr>
                <tr>
                    <td class="hiddenRow" colspan="5">
                        <div class="accordian-body collapse" id="row{{ loop.index0 + 1 }}">
                            <div class="col-sm-10">
                                <p align="center"><strong>Job Description</strong></p>
                                <p>{{ job.description }}</p>
                            </div>
                            <div class="col-sm-2" align="center"  style="vertical-align: middle; display: table-cell">
                                <a href="{{ url_for('result',jobid=job.id) }}">
                                    <button name="submit" type="submit" class="btn btn-default" value="{{ job.id }}">
                                        View Results
                                    </button>
                                </a>
                            </div>
                            <p></p>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}