<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
    <title>Web Server | Shilab web server</title>
{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
        label {
            font-size: medium;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function disableInput(chkCV, id) {
            var input_field = document.getElementById(id);
            input_field.disabled = chkCV.checked ? false : true;
        }
    </script>
    <!-- for fieldset -->
    <script>
        function disableFieldset(checkbox) {
            var fieldset = checkbox.parentElement.parentElement;
            if (checkbox.checked) {
                fieldset.disabled = false;
            } else {
                fieldset.disabled = true;
            }
        }
    </script>
{% endblock %}
{% block content %}
    <div>
        <h2>LASSO-based Methods Web Server</h2>
        <p>It includes many variations of LASSO method. You can select multiple methods at one time to train model. </p>

        <hr>
        <!-- Tab links-->
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#training">Training</a></li>
            <li><a data-toggle="tab" href="#testing">Testing</a></li>
        </ul>

        <div class="tab-content">
            <div id="training" class="tab-pane fade in active" style="padding-top: 20px">

                <p class="col-sm-offset-2" style="color: red; font-size: medium"><strong>All fields are
                    required.</strong></p>
                <form class="form-horizontal" method="post" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="jobname">Job Name:</label>
                        <div class="col-sm-4">
                            <input name="jobname" class="form-control" id="jobname" placeholder="Enter your job name"
                                   required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="email">Email:</label>
                        <div class="col-sm-4">
                            <input name="email" type="email" class="form-control" id="email"
                                   placeholder="Enter your Email"
                                   required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="description">Description:</label>
                        <div class="col-sm-10">
                    <textarea style="height: 100px" name="description" class="form-control" id="description"
                              placeholder="Add description for your job, like data, method and parameters."
                              required></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="upload">Upload files:</label>
                        <div class=" col-sm-5">
                            <label class="control-label" for="input-x">Choose your training data: X</label>
                            <input class="form-control" type="file" id="input-x" name="input-x"
                                   placeholder="choose your training data: X" required>
                        </div>
                        <div class=" col-sm-5">
                            <label class="control-label" for="input-y">Choose your training label: Y</label>
                            <input class="form-control" type="file" id="input-y" name="input-y"
                                   placeholder="choose your training label: Y" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="methods">Select Methods:</label>
                        <div class=" col-sm-10">
                            <div class="col-sm-12">
                                <div class="col-sm-4 form-inline" >
                                    <fieldset>
                                        <legend>
                                            <input id="lasso" name="methods" type="checkbox" value="lasso"
                                                   onclick="disableFieldset(this)" checked>
                                            <label for="lasso">LASSO</label>
                                        </legend>
                                        Alpha:
                                        <input id="lasso_alpha" name="lasso_alpha" class="form-control"
                                               style="width: 100px;" value="0.5">
                                    </fieldset>
                                </div>
                                <div class="col-sm-4 form-inline">
                                    <fieldset disabled>
                                        <legend>
                                            <input id="sslasso" name="methods" type="checkbox" value="ssLASSO"
                                                   onclick="disableFieldset(this)">
                                            <label for="sslasso">ss-LASSO</label>
                                        </legend>
                                        <div class="col-sm-12 ">
                                            <div class="form-group  col-sm-12" style="padding-bottom: 10px ">
                                                Alpha:
                                                <input id="sslasso_alpha" name="sslasso_alpha" style="width: 100px"
                                                       class="form-control " value="0.5">
                                            </div>
                                            <div class="form-group col-sm-12" style="padding-bottom: 10px ">
                                                Beta:
                                                <input id="sslasso_alpha" name="sslasso_alpha" style="width: 100px"
                                                       class="form-control " value="0.5">
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-sm-4 form-inline" >
                                    <fieldset disabled>
                                        <legend>
                                            <input id="grouplasso" name="methods" type="checkbox" value="groupLASSO"
                                                   onclick="disableFieldset(this)">
                                            <label for="grouplasso">group-LASSO</label>
                                        </legend>
                                        <div class="col-sm-12">
                                            Alpha:
                                            <input id="grouplasso_alpha" name="grouplasso_alpha" class="form-control"
                                                   style="width: 100px;" value="0.5">
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div>
                                <div class="col-sm-3 form-inline">
                                    <input type="checkbox" id="cv" name="cv" onclick="disableInput(this, 'fold_number')"
                                           CHECKED>
                                    <label for="validation"> Cross Validation </label>
                                    <input class="form-control" style="width: 50px;" type="text" id="fold_number"
                                           name="fold_number" maxlength="2" value="5">
                                </div>
                                <div class=" col-sm-4 form-inline">
                                    <input type="checkbox" id="seed" name="seed"
                                           onclick="disableInput(this, 'seed_number')" CHECKED>
                                    <label for="validation"> Specify Seed </label>
                                    <input class="form-control" style="width: 100px;" type="text" id="seed_number"
                                           value="28213" name="seed_number">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <hr style="padding: 1px">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

            <div id="testing" class="tab-pane fade" style="padding-top: 20px">
                <p class="col-sm-offset-2" style="color: red;"><strong>All fields are required.</strong></p>
                <form class="form-horizontal" method="post" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="jobname">Job Name:</label>
                        <div class="col-sm-4">
                            <input name="jobname" class="form-control" id="jobname" placeholder="Enter your job name"
                                   required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="email">Email:</label>
                        <div class="col-sm-4">
                            <input name="email" type="email" class="form-control" id="email"
                                   placeholder="Enter your Email"
                                   required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2" for="description">Description:</label>
                        <div class="col-sm-10">
                    <textarea style="height: 100px" name="description" class="form-control" id="description"
                              placeholder="Add description for your job, like data, method and parameters."
                              required></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="upload">Upload files:</label>
                        <div class=" col-sm-5">
                            <label class="control-label" for="input-x">Choose your unknown data: X</label>
                            <input class="form-control" type="file" id="input-x" name="input-x"
                                   placeholder="choose your unknown data: X" required>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <label class="control-label col-sm-2" for="methods">Choose Models:</label>
                        <div class="col-sm-5">
                            <select multiple>
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="opel">Opel</option>
                                <option value="audi">Audi</option>
                            </select>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}