.cn_node {
    fill: black;
}

.cn_node:hover {
    fill: #000;
}

.cn_link {
    stroke: steelblue;
    stroke-opacity: 0.4;
    fill: none;
    pointer-events: none;
}

.cn_node:hover,
.cn_node--source,
.cn_node--target {
    font-weight: 700;
}

.cn_node--source,
.cn_node--target {
    fill: #d62728;
}

.cn_link--source,
.cn_link--target {
    stroke: #d62728;
    stroke-opacity: 1;
    stroke-width: 2px;
}

.cn_click_link--source,
.cn_click_link--target {
    stroke: green;
    stroke-opacity: 1;
    stroke-width: 2px;
}

.cn_click_node--source,
.cn_click_node--target,
.cn_click_node {
    fill: green;
    font-weight: 700;
}

